* {
  margin: 0px;
  padding: 0px;
  font-family: Viga;
}

body {
  background: rgb(20, 236, 56);
  height: 637px;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: fixed;
  background: aqua;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

.main h2 {
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
  border: none;
  background: lightseagreen;
  color: white;
  border-radius: 15px;
}

.button:hover {
  background-color: rgb(21, 7, 221);
}

.btn-green {
  background: lightskyblue;
  color: black;
}

.textarea {
  width: 240px;
  margin: 4px;
  font-size: 20px;
  padding: 10px;
  border: none;
  color: #607d8b;
  border-radius: 25px;
  text-align: right;
}
